@import "tailwindcss";

@theme {
  --color-main: #006C4D;
  --color-sub1: #034D38;
  --color-sub2: #008862;
  
  --color-gray1: #BABAA9;
  --color-gray2: #8A8A7D;
  --color-gray3: #616158;

  --color-green1: #F4F9F2;
  --color-green2: #ABE6C5;
  --color-green3: #51C99A;
  --color-green4: #00BA84;
  --color-green5: #006C4D;
  --color-green6: #011D15;
}